# Database Configuration
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=satnav_db

# API Configuration
GOOGLE_MAP_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
ESP32_API_KEY=Ad5F10jkBM0

# Endpoint Configuration
POST_DATA_URL=http://your-server-ip/SatNav/gpsdata.php
